/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}


/* CSS Variable */
:root{
    --navbar-height: 59px;
}
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px ;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.2;
}

#logo{
    margin: 2px 9px;

}

#logo img{
    height: 60px;
    width: 65px;
}

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 23px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;

}

#home{
    display: flex;
    flex-direction: column;
    padding: 3px 20px;
    height: 480px;
    justify-content: center;
    align-items: center;

}
#home::before{
    content: "";
    position: absolute;
    background: url('/img/bg1.jpg') no-repeat center center/
    cover;
    height: 550px;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}
#home h1{
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}

#services{
    margin: 34px;
    display: flex;
}

#services .box{
    border: 2px solid brown;
    padding: 12px;
    margin: 2px 8px;
    border-radius: 28px;
    margin-bottom: 20px;
    background-color:lightcyan;
}

#services .box img{
    height: 250px;
    margin: auto;
    display: block;
    width: 100%;
    border-radius: 12px;
}

#services .box p{
    font-family: 'Bree Serif', serif;
}


#client-section{
    position: relative;
}

#client-section::before{
    content: "";
    position: absolute;
    background: url(/img/bg2.jpg);
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item{
    padding: 34px;
}

#clients img{
    height: 124px;
}

#contact{
    border: 3px;
 position: relative;
}

#contact::before{
    content:"";
    position: absolute;
    background: url(/img/contact.jpg);
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 34px;
}

#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    size: 1.1rem;
    margin: 3px;
}

#contact-box input{
    width: 80%;
    padding: 0.3rem;
    border-radius: 9px;
    size: 1.1rem;
    margin: 3px;
    text-align: center;
}

#contact-box{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    size: 1.1rem;
}

#contact-box form{
    width: 40%;
}

#contact-box label{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}

footer{
    background-color: black;
    color: white;
    padding: 9px 20px;
}


.center{
    text-align: center;
}
    


.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 2.3rem;
    padding: 12px;
}

.btn{
    padding: 6px 20px;
    border: 2px solid blue;
    border-radius: 8px;
    background-color: black;
    color: white;
    font-size: 1.2rem;
    margin: 17px;
    cursor: pointer;

}

.btn2:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 12px;
    margin: 15px;
    padding: 6px 20px;
    font-size: 1.2rem;
}
